
.nav1{
    padding: 0 3% 0 3%;
    height: 80px;
    width: 100%;
    background-color:rgb(187, 6, 232);
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav2{
    visibility: hidden;
    position: fixed;
    padding: 0 3% 0 3%;
    height: 80px;
    width: 100%;
    background-color:rgb(187, 6, 232);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: -80px;
}
.logo{
flex-basis: 15%;
}
.links{
    flex-basis: 60%;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.links a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.links a:hover{
    color: yellow;
    transition: 1s;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}
.logo img{
    border-radius: 50%;
}
.account a img{
    border-radius: 50%;
}
.account{
    padding-left: 8%;
    flex-basis:15% ;
    float: right;
}
@media screen and (max-width:768px) {
    *{
        margin: 0;
        padding: 0;
    }
    .nav1{
        visibility: hidden;
        /* position: fixed; */
    }
    .heading{
        color: white;
        font-size: 1rem;
        font-weight: bolder;
    }
    .nav2{
        visibility: visible;
        align-items: center;
        padding: 0;
        width: 100vw;
    }
}
@media screen and (max-width:576px) {
    .nav1{
        visibility: hidden;
        
    }
    .heading{
        visibility: hidden; 
    }
    .nav2{
        visibility: visible;
        width: 100vw;
    }
}